venv
venv/
.idea
*.env
db.sqlite3
__pycache__/
**/migrations/**
!**/migrations/__init__.py
!**/migrations/
media
staticfiles
static
desktop.ini
celerybeat-schedule
.mypy_cache
celery_db
data
db_volume
debug.log
volumes
code
local_data.json
Pipfile
Pipfile.lock
Backend/firebase-service-account.json
EcoSystem/API/google-services.json
EcoSystem/API/api/service-account.json
EcoSystem/Mobile App/android/app/google-services.json