venv
venv/
.idea
*.env
.env
.env.prod
db.sqlite3
*.sqlite3
__pycache__/
**/migrations/**
!**/migrations/__init__.py
!**/migrations/
media
staticfiles
static
desktop.ini
celerybeat-schedule
.mypy_cache
celery_db
data
db_volume
debug.log
volumes
code
local_data.json
Pipfile
Pipfile.lock
firebase-service-account.json