venv
venv/
.idea
*.env
db.sqlite3
__pycache__/
**/migrations/**
!**/migrations/__init__.py
!**/migrations/
media
staticfiles
desktop.ini
celerybeat-schedule
.mypy_cache
celery_db
data
db_volume
debug.log
volumes
code
local_data.json